# my own from https://github.com/kerelist/webpack-setup/blob/master/.gitignore
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# SQL Server files
*.mdf
*.ldf

## Windows ignores
# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac file caches
.DS_Store*
Icon?
._*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Front-end build process files
/node_modules/
.sass-cache/
**/build/
.tmp
**/src/assets/images/svg-min/
/src/svg
**.**.map

#editor specific files
.editorconfig