.meter-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  .base {
    width: 100%;
    height: 250px;
    background-color: #FDDE9A;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    position: relative;
  }

  .text {
    font-size: 2.8rem;
  }

  .valunit {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .minmax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .meter-line {
    position: relative;
    top: -10px;
    height: calc(100% + 10px);
    width: 10px;
    margin: 0 auto;
    background-color: #8EC449;
    transform-origin: center bottom;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transform: rotate(-0.25turn);
    transition: transform 1s ease;

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #8EC449;
      position: absolute;
      bottom: -10px;
      left: -5px;
      z-index: 2;
    }
  }

}

.screenreader-text {
  display: none;
}

.retry {
  background-color: #efefef;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  font-size: 1.8rem;
  transition: background-color 0.3s ease;

  &.active {
    cursor: pointer;
    background-color: #C8E7E2;
    color: black;

    &:hover, &:focus {
      background-color: #8EC449;
      color: white;
    }
  }
}

.fetching-text {
  animation: fadeIn 0.75s infinite alternate;
  text-align: center;
  padding: 10px 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
}
